@charset "UTF-8";
html {
    background-color: #fff !important;
}

input[type="text"],input[type="submit"], button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.mailform input[type="text"],
.mailform select,
.mailform option,
.mailform textarea {
	border:1px solid #e0e0e0;
	margin:0;
	background-color:#fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding:8px 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	line-height:24px;
	font-size:18px;
    width:100%;
}
.mailform input:focus,
.mailform textarea:focus,
.mailform select:focus,
.mailform textarea:focus {
	border:1px solid #2A92C8 !important;
	background-color:#fff;
	outline:none;
}
select {
	background:url(../img/arrow.png) no-repeat right center;
	background-size:22px 32px;
	padding-right:28px !important;
	cursor: pointer;
}

.mailform {
    padding:0 70px;
    background-color: #fff;
}
.mailform h2 {
    font-size:28px;
    text-align: center;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
    font-weight:bold;
}
.mailform .inner {
    background-color: #F0F0F0;
    padding:32px 64px 40px;
}
.mailform dt {
    font-weight:bold;
    border-left:3px solid #000;
    line-height: 1.2;
    margin:1.5em 0 0.8em;
    padding-left:0.5em;
}
.mailform dt .req {
    color:#c00;
    display: inline-block;
    padding-left;0.5em;
}
.mailform dd {
    border-bottom:1px dashed #ccc;
    padding-bottom:1.5em;
}
.mailform dd:last-of-type {
    border-bottom-width:0px;
    padding-bottom:2em;
}
.mailform .caution {
    display: block;
    border-bottom-width:0px;
    padding-bottom:0.2em;
    font-size:16px;
    color:#333;
}
.mailform .ex {
    display: block;
    padding-top:0.2em;
    font-size:16px;
    color:#333;
}
.mailform label {
    cursor: pointer;
    font-size:16px;
}
.mailform .submit_btn {
    border: 0px;
    width:332px;
    height:72px;
    background: url(../img/btn02_pc.png) left top no-repeat;
    display: block;
    margin:0 auto;
}

.pryvacy_div {
    background-color: #fff;
    border:1px solid #333;
    font-size:14px;
    padding:1em 2em;
    height:196px;
    overflow: scroll;
    margin-bottom: 0.8em;
}
.pryvacy_div_font {
    padding:1em 0 2em 1em;
}
.pryvacy_div_flex div:last-of-type .pryvacy_div_font {
    padding-bottom: 1em;
}
