@charset "UTF-8";
/* タブレット用CSS */

.hidden-sp {
	display: inherit !important;
}
.hidden-tb {
	display:none !important;
}
.hidden-pc {
	display: inherit !important;
}


#wrapper {
	width:100%;
	margin:0;
}
img {
    display:block;
    width:100%;
}

#header .logo {
    float:left;
    width:62.4%;
}
#header .btn {
    float:right;
    width:37.6%;
}

